# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{c,cpp,h,inl,s,asm,qss,mm}]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[CMakeLists.txt]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cmake]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
